<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068804994808-it2c2jo26cgup5qf1po8u3qq2r2llpqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068804994808-it2c2jo26cgup5qf1po8u3qq2r2llpqj</string>
	<key>API_KEY</key>
	<string>AIzaSyCqkLwGCxqMKwalvlMPE9Xxh0lo4d5x8QU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068804994808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examVerifierApp</string>
	<key>PROJECT_ID</key>
	<string>exam-verifier-app</string>
	<key>STORAGE_BUCKET</key>
	<string>exam-verifier-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068804994808:ios:c4c6dfe610116d20682d0d</string>
</dict>
</plist>